<div *ngIf="!isAuthorized(); else elseBlock">
  <div class="panel panel-primary">
    <p-header>
      <ul class="nav nav-tabs">
     <li class="nav-item">
       <a class="nav-link active show" href="#login" data-toggle="tab">{{ 'Login' | translate:user}}</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#registration" data-toggle="tab">{{'Registration' | translate:user}}</a>
     </li>
      </ul>
    </p-header>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="login">
        <app-login></app-login>
      </div>
      <div class="tab-pane" id="registration">
        <app-registration></app-registration>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <app-user-credentials></app-user-credentials>
</ng-template>
