.nav-tabs {
  border-bottom: transparent;
  border-top: 1px solid #dddddd;
}

.loginAndAuthorization
{
  position: relative;
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  margin-left: 1%;
  background: aliceblue;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: grid;
  height: 390px;
}

.nav-item
{
  width: 148px;
  float: right;
}

.li
{
  width: 178px;
}
