.nav-tabs {
  border-bottom: transparent;
  border-top: 0px solid #dddddd;
}

.card
{
  float: right;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

app-user-credentials
{
  position: relative;
  float: left;
  max-width: 17em;
  padding-top: 6%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 6%;
  display: grid;
}
