<div *ngIf="!isAuthorized(); else elseBlock">
  <p-panel class="Authentication">
    <p-header>
      <ul class="nav nav-tabs">
     <li class="nav-item">
       <a class="nav-link active show" href="#login" data-toggle="tab">{{ 'Login' | translate:user}}</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#registration" data-toggle="tab">{{'Registration' | translate:user}}</a>
     </li>
      </ul>
    </p-header>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="login">
        <app-login></app-login>
      </div>
      <div class="tab-pane" id="registration">
        <app-registration></app-registration>
      </div>
    </div>
  </p-panel>
</div>
<ng-template #elseBlock>
  <p-panel class="Authentication ui-panel-titlebar">
    <h1>{{username}}</h1>
    <div class="tab-pane active" id="authorized">
      <button type="button" (click)="gotoCabinet()" class="btn btn-secondary">Cabinet</button>
      <button type="button" (click)="logout()" class="btn btn-secondary">Logout</button>
    </div>
  </p-panel>
</ng-template>
