.nav-tabs {
  border-bottom: transparent;
  border-top: 1px solid #dddddd;
}

input {
  width: 100%;
}

.panel
{
  float: right;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

app-user-credentials
{
  position: relative;
  float: right;
  margin-top: 1%;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: grid;
}

.nav-item
{
  float: right;
}

#elseBlock {
  width: 250px;
}

.li
{
  width: 178px;
}
