.nav-tabs {
  border-bottom: transparent;
  border-top: 1px solid #dddddd;
}

.Authentication
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: grid;
}

.authorizedWindow
{
  position: relative;
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  margin-left: 1%;
  background: aliceblue;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: grid;
  height: 90px;
}

.nav-item
{
  height: 32px;
  width: 92px;
  float: right;
}

#elseBlock {
  width: 250px;
}

.li
{
  width: 178px;
}
