<p-growl [value]="msgs"></p-growl>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row" style="margin-top:8px">
        <span class="ui-float-label">
          <input class="ui-state-filled form-control" (keyup)="saveUsername($event)" type="text" id="username" formControlName="username"/>
          <label for="float-input">{{'username'| translate:user}}</label>
        </span>
      </div>
      <div class="ui-grid-row" style="margin-top:20px">
        <span class="ui-float-label">
          <input class="ui-state-filled form-control" (keyup)="saveEmail($event)" type="text" id="email" formControlName="email"/>
          <label for="float-input">{{'email'| translate:user}}</label>
        </span>
      </div>
      <div class="ui-grid-row" style="margin-top:20px">
        <span class="ui-float-label">
          <input class="ui-state-filled form-control" (keyup)="savePassword($event)" type="password" id="password" formControlName="password"/>
          <label for="float-input">{{'password'| translate:user}}</label>
        </span>
      </div>
      <div class="ui-grid-row" style="margin-top:8px">
          <button type="button" class="btn btn-primary" [disabled]="!userform.valid">{{"Registration" | translate:user}}</button>
      </div>
    </div>
</form>
