<p-growl [value]="msgs"></p-growl>
<app-navbar></app-navbar>
<div class="container">
  <h1>{{'users list'|translate:user}}</h1>
  <div class="row"><span>&#8203;</span></div>
  <div class="btn-group" style="padding-top:1%; position: sticky; position: -webkit-sticky; top: 0;" role="group" aria-label="Basic example">
    <button type="button" [disabled]="isNotSelectedOne()" (click)="redirectionToCabinet()" class="btn btn-success">{{'gotoUser' | translate:user}}</button>
    <button type="button" [disabled]="isNotAnySelected()" (click)="blockProfiles()" class="btn btn-success">{{'block'|translate:user}}</button>
    <button type="button" [disabled]="isNotAnySelected()" (click)="unblockProfiles()" class="btn btn-warning">{{'unblock'|translate:user}}</button>
    <button type="button" [disabled]="isNotAnySelected()" (click)="setAdmins()" class="btn btn-warning">{{'setAdmin'|translate:user}}</button>
    <button type="button" [disabled]="isNotAnySelected()" (click)="deleteProfiles()" class="btn btn-danger">{{'delete'|translate:user}}</button>
  </div>
    <mat-table matSort="" [dataSource]="userList">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'email'|translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'username' | translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'role' | translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsBlocked">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'isblocked' | translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.blocked}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  <mat-paginator pageSize="10"></mat-paginator>
  </div>
