app-navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.container{
  align: center;
  max-width: 1600px;
}

#auth-form{
  min-width: 280px;
}

p-progressBar{
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
}
