<div *ngIf="!isReadMode(); else elseBlock">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div>
          <div id="title" class="row" style="margin-top:16px">
            <div class="col-10">
              <h1 class="label">{{fanfic.title}}</h1>
            </div>
            <div class="col-2 text-right">
              <p-rating></p-rating>
            </div>
          </div>
          <hr class="my-1">
          <h5 class="label">{{fanfic.description}}</h5>
          <div style="margin-top:32px">
            <h1 class="display-3">{{chapter.title}}</h1>
            <img style="width:100%; height:auto;" src="{{chapter.imageURL}}" class="img-fluid rounded">
            <hr class="my-4">
            <div [innerHTML]="chapter.textBlock | safeHtml"></div>
          </div>
          <p-paginator rows="1" (onPageChange)="paginate($event)" totalRecords="{{fanfic.chapters.length}}"></p-paginator>
          <div *ngIf="isAuthenticated()" id="commentaries">
            <div *ngFor="let comment of commentaries">
            <h1 class="my-4"></h1>
            <h1>{{'Commentaries' | translate:user}}</h1>
            <div class="card mb-3">
              <h3 class="card-header">{{comment.user}}</h3>
              <div class="card-body">
                <p>{{comment.text}}</p>
              </div>
              <div class="card-footer text-muted">
                <button [disabled]="isLiked()" (click)="like(comment.id)" class="btn btn-primary glyphicon glyphicon-heart">
                    {{comment.likesCount}}
                </button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-panel" class="col-md-2">
        <app-authorization-form></app-authorization-form>
        <button style="float:left; max-width:18em; margin-left:4%;" class="btn btn-primary btn-block" (click)="switchMode()">
          {{'Switch to read mode' | translate:user}}
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isReadMode()">
  <div class="container">
    <div (scroll)="scrollPercentage()" *ngFor="let chapterText of fanfic.chapters">
      <header id="controlBar">
        <p-progressBar [value]="scrollPercentage()" [showValue]="false"></p-progressBar>
        <button class="btn btn-secondary" (click)="switchMode()">{{'Back to site'|translate:user}}</button>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'text width'|translate:user}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item"><span (click)="setWidth('60%')">60%</span></a>
            <a class="dropdown-item"><span (click)="setWidth('75%')">75%</span></a>
            <a class="dropdown-item"><span (click)="setWidth('100%')">100%</span></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'font size'|translate:user}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item"><span style="font-size: smaller" (click)="setFontSize('smaller')">smaller</span></a>
            <a class="dropdown-item"><span style="font-size: small" (click)="setFontSize('small')">small</span></a>
            <a class="dropdown-item"><span style="font-size: medium" (click)="setFontSize('medium')">medium</span></a>
            <a class="dropdown-item"><span style="font-size: large" (click)="setFontSize('large')">large</span></a>
            <a class="dropdown-item"><span style="font-size: larger" (click)="setFontSize('larger')">larger</span></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'font'|translate:user}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <a class="dropdown-item"><span (click)="setFont('Comic Sans MS')" style="font-family: Comic Sans MS;">A</span></a>
            <a class="dropdown-item"><span (click)="setFont('Georgia, Times New Roman, serif')" style="font-family: Georgia, Times New Roman, serif;">A</span></a>
            <a class="dropdown-item"><span (click)="setFont('Arial, Helvetica, sans-serif')" style="font-family: Arial, Helvetica, sans-serif;">A</span></a>
            <a class="dropdown-item"><span (click)="setFont('Courier')" style="font-family: Courier;">A</span></a>
            <a class="dropdown-item"><span (click)="setFont('Verdana, Arial, sans-serif')" style="font-family: Verdana, Arial, sans-serif;">A</span></a>
          </div>
        </div>
      </header>
      <div id="readModeText">
        <h1>{{chapterText.title}}</h1>
        <img style="width:100%; height:auto;" class="img-fluid rounded" src="{{chapterText.imageURL}}">
        <div innerHTML="{{chapterText.textBlock | safeHtml }}"></div>
      </div>
    </div>
  </div>
</div>
