app-navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.container{
  align: center;
  max-width: 1600px;
  margin-bottom: 5%;
}

#right-panel{
  min-width: 280px;
}

#controlBar{
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background: lightgreen;
}

.label{
  margin-top: 8px;
}

#title {
  display: flex;
  align-items: center;
}
