<p-growl [value]="msgs"></p-growl>
<app-navbar></app-navbar>
<div class="container">
  <h1>Users list</h1>
  <div class="row"><span>&#8203;</span></div>
  <p-table [value]="userList" selectionMode="single" [(selection)]="selectedUser">
    <ng-template pTemplate="header">
      <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Is blocked</th>
        <th>Role</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-thisUser>
      <tr (click)="redirectionToCabinet(thisUser.email)">
        <td>{{thisUser.email}}</td>
        <td>{{thisUser.username}}</td>
        <td>{{thisUser.isBlocked}}</td>
        <td>{{thisUser.role}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
