<p-growl [value]="msgs"></p-growl>
<app-navbar></app-navbar>
<div class="container">
  <h1>Users list</h1>
  <div class="row"><span>&#8203;</span></div>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList">

        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.isBlocked}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
