<p-growl [value]="msgs"></p-growl>
<app-navbar></app-navbar>
<div class="container">
  <h1>{{'users list'|translate:user}}</h1>
  <div class="row"><span>&#8203;</span></div>
    <mat-table matSort="" [dataSource]="userList">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'email'|translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'username' | translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'role' | translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsBlocked">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'isblocked' | translate:user}}</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.blocked}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  <mat-paginator pageSize="10"></mat-paginator>
    <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-outline-success" [disabled]="isNotSelectedOne()" (click)="redirectionToCabinet()">{{'gotoUser' | translate:user}}</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-warning" [disabled]="isNotAnySelected()" (click)="blockProfiles()">{{'block'|translate:user}}</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-warning" [disabled]="isNotAnySelected()" (click)="unblockProfiles()">{{'unblock'|translate:user}}</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-success" [disabled]="isNotAnySelected()" (click)="setAdmins()">{{'setAdmin'|translate:user}}</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-danger" [disabled]="isNotAnySelected()" (click)="deleteProfiles()">{{'delete'|translate:user}}</button>
    </div>
  </div>
</div>
