<div class="container">
  <div class="row">
    <div class="col-9">
      <h5 class="display-4">{{"My fanfictions" | translate:user}}</h5>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary btn-lg">{{"Create fanfiction" | translate:user}}</button>
    </div>
  </div>
  <hr class="my-4">

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-2 text-center">
          <img style="height:134px; width:96px;" src="https://st.kp.yandex.net/images/film_big/689.jpg">
        </div>
        <div class="col-10">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="card-title">Harry potter</h4>
            <p class="text-muted">21.12.2012 21:00</p>
          </div>
          <h6 class="card-subtitle mb-2 text-muted">Horror</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Potter</a>
          <a href="#" class="card-link">Hermione</a>
          <a href="#" class="card-link">Anal</a>
          <a href="#" class="card-link">AngryRon</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      <button type="button" class="btn btn-info">Edit</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>
    </div>
  </div>

</div>
