app-navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.container{
  margin-top: 1%;
  padding: 2%;
}

app-user-credentials
{
  position: relative;
  float: right;
  margin-top: 1%;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: grid;
}
