app-navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

app-footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lightgreen;
}

.container{
  background: aliceblue;
  margin-top: 1%;
  padding: 2%;
}

input{
  width: 100%;
  font-size:20px;
}

