app-navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.container{
  align: center;
  max-width: 1600px;
}

#auth-form{
  min-width: 280px;
}

p-autoComplete{
  width: 100%;
}

button {
  width: 100%;
  height: 100%;
}

input.ui-inputfield
{
  width : 100% !important;
}


