<p-growl [sticky]="false" [life]="2000" [baseZIndex]="50" [value]="msgs"></p-growl>
<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div style="margin-top:24px" class="row label">
        <h3>{{'title' | translate:user}}</h3>
      </div>
      <div class="row">
        <input type="text" class="form-control" [(ngModel)]="this.fanfic.title" placeholder="{{'Fanfic title' | translate:user}}">
      </div>
      <div class="row label">
        <h3>{{'description' | translate:user}}</h3>
      </div>
      <div class="row">
        <textarea class="form-control" [(ngModel)]="this.fanfic.description" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="row label">
        <h3>{{'genre' | translate:user}}</h3>
      </div>
      <div class="row">
        <p-autoComplete [(ngModel)]="this.fanfic.genre" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [forceSelection]="true" placeholder="{{'genre' | translate:user}}" [suggestions]="availableGenres" (completeMethod)="getGenreList()"></p-autoComplete>
      </div>
      <div class="row label">
        <h3>{{'tags'|translate:user}}</h3>
      </div>
      <div class="row">
        <p-autoComplete [(ngModel)]="this.fanfic.tags" [minLength]="1" [suggestions]="filteredTags" (completeMethod)="filterTagsMultiple($event)" placeholder="{{'Tags' | translate:user}}" [multiple]="true"></p-autoComplete>
      </div>
      <div class="row label">
        <h3>{{'image' | translate:user}}</h3>
      </div>
      <div class="row">
        <p-fileUpload name="files[]" accept="image/*" maxFileSize="1000000" auto="true"
                      customUpload="true" (uploadHandler)="uploadImage($event)" (onRemove)="onRemove($event)">
          <ng-template pTemplate="content">
            <ul *ngIf="file">
              <li>{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="row label">
        <h3>{{'Chapters' | translate:user}}</h3>
      </div>

      <table style="margin-bottom:32px" class="table table-hover">
        <thead>
        <th scope="col">№</th>
        <th scope="col">{{'title' | translate:user}}</th>
        <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let chapter of fanfic.chapters; let row_no = index">
            <td>{{row_no + 1}}</td>
            <td>
              <button (click)="redactChapter(chapter.id)" type="button" class="btn btn-link">{{chapter.title}}</button>
            </td>
            <td align=right>
              <button (click)="deleteChapter(chapter.id)" type="button" class="btn btn-danger">{{'delete' | translate:user}}</button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button type="button" (click)="addChapter()" class="btn btn-link btn-block">
                {{'Add chapter' | translate:user}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <hr class="my-1">
      <div class="row justify-content-end">
        <div class="col-3 text-right">
          <button (click)="submitFanfic()" style="margin-bottom:16px; margin-top:16px;" type="button" class="btn btn-success btn-lg btn-block">
            {{"Submit" | translate:user}}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
  <div class="container">
    <div class="row label">
      <div class="col-12">
        <h3>{{'Chapter title' | translate:user}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control" [(ngModel)]="this.chapter.title" placeholder="{{'Chapter title' | translate:user}}">
      </div>
    </div>
    <div class="row label">
      <div class="col-12">
        <p-fileUpload name="files[]" accept="image/*" maxFileSize="1000000" auto="true"
                      customUpload="true" (uploadHandler)="uploadImageCh($event)" (onRemove)="onRemoveCh($event)">
          <ng-template pTemplate="content">
            <ul *ngIf="file">
              <li>{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
    <div class="row label">
      <div class="col-12">
        <p-editor [(ngModel)]="this.chapter.textBlock" [style]="{'width':'100%','height':'320px'}"></p-editor>
      </div>
    </div>
    <div class="row label justify-content-end">
      <div class="col-4 text-right">
        <button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>
        <button pButton type="button" (click)="submit()" label="Save" class="ui-button-success"></button>
      </div>
    </div>
  </div>
</p-sidebar>
