app-navbar{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.container{
  align: center;
  max-width: 1600px;
}

#auth-form{
  min-width: 280px;
}

p-autoComplete{
  width: 100%;
}

button {
}

input.ui-inputfield
{
  width : 100% !important;
}

.label{
  margin-top: 12px;
}

.ui-fileupload-buttonbar button:not(.ui-fileupload-choose) {
  display: none;
} 
