<div class="card border-primary mb-3">
  <div class="card-header"></div>
  <div class="card-body">
    <h2>{{username}}</h2>
    <h6>{{email}}</h6>
    <button (click)="gotoCabinet()" class="btn btn-link">{{'My account' | translate:user}}</button>
    <button (click)="logout()" type="button" class="btn btn-link">{{'Log out' | translate:user}}</button>
    <div style="margin-top:8px" *ngIf="isAdmin()">
      <button (click)="gotoAdminCabinet()" class="btn btn-outline-info btn-block">{{'adminCabinet' | translate:user}}</button>
    </div>
  </div>
</div>
